body {
    background-color: $body_background_color;

    .main-content {
        padding-top: 80px;

        /* Theme Page */
        .theme-selection-div {
            display: flex;
        }
        @media (max-width: 800px) {
            .theme-selection-div {
                display: block;
            }
        }
        
        .theme-selection-div form:first-of-type {
            margin-right: 20px;
            margin-bottom: 20px;
        }
    }
}
