/* Fonts */
$title_color: white;
$default_color: #f1f1f1;
$text_color: #f1f1f1;
$link_color: orange;
$link_hover_color: orangered;

$nav_active_color: white;
$nav_hover_color: #f1f1f1;
$nav_unactive_color: gray;

/* Background */
$background_color: #1f1f1f;