/* Fonts */
$title_font_family: Helvetica, Arial, sans-serif;
$text_font_family: Helvetica, Arial, sans-serif;
$title_color: black;
$default_color: #1f1f1f;
$text_color: #1f1f1f;
$link_color: blue;
$link_hover_color: mediumaquamarine;

$nav_active_color: white;
$nav_hover_color: #f1f1f1;
$nav_unactive_color: gray;

/* Background */
$background_color: #f1f1f1;