body {
    font: 600 15px 'Open Sans', sans-serif;
    background-color: $body_background_color;
    color: $font_color;

    h1, h2, h3, h4, h5, h6 {
        color: $title_color;
    }
}

.container {
    padding-top: 50px;
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: $link_color;

    &:hover {
        color: $link_hover_color;
    }
}