.navbar {
	background-image: linear-gradient(180deg, #212121 0%, #1a1a1a 100%);

	a {
		cursor: pointer;
		color: $navbar_link_color;

		&:hover {
			color: $navbar_link_hover_color;
		}

		&.active {
			color: $navbar_link_active_color;
		}
	}

	.container-fluid {
		display: block !important;
		text-align: center;
	}

	#language-container {
		display: flex;
		position: absolute;
		right: 0px;
	}
}

.navbar.navbar-dark.sticky-top {
	border-bottom: 2px solid $navbar_border_color;
}

.navbar-brand {
    margin-right: 0px;
	padding-bottom: 20px;

	p {
		font-size: 30px;
		padding-top: 10px;
	}
}

.navigation-links {
    width: 100%;
}

.nav-item {
	padding-left: 10px;
	padding-right: 10px;
}