* {
	margin: 0;
	padding: 0;
}

html {
    height: 100%;
}

.success {
    color: $color_success;
}

.error {
    color: $color_error;
}

.warning {
    color: $color_warning;
}

.danger {
    color: $color_danger;
}

.center {
    text-align: center !important;
}

.left {
    text-align: left !important;
}

.right {
    text-align: right !important;
}

@media (min-width: 1200px) {
    .large-center {
        text-align: center !important;
    }
    
    .large-left {
        text-align: left !important;
    }
    
    .large-right {
        text-align: right !important;
    }
}

@media (max-width: 991px) {
    .small-center {
        text-align: center !important;
    }
    
    .small-left {
        text-align: left !important;
    }
    
    .small-right {
        text-align: right !important;
    }
}