RewriteEngine On
RewriteBase /


#========================#
# Force HTTPS Connection #
#========================#
RewriteCond %{SERVER_PORT} !^443$
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


#====================#
# Routing Controller #
#====================#
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php [L]


#=================#
# Error Reporting #
#=================#
php_flag  display_errors    on
php_value error_reporting   2039


#========================#
# Protect Specific Files #
#========================#
<FilesMatch "\.(htaccess|htpasswd|env|ini|php|sql|lock|composer\.json|README|LICENSE)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>


#=============#
# Allow Files #
#=============#
<FilesMatch "index.php|robots.txt">
    Order Allow,Deny
    Allow from all
</FilesMatch>