RewriteEngine On
RewriteBase /


#========================#
# Force HTTPS Connection #
#========================#
RewriteCond %{SERVER_PORT} !^443$
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


#====================#
# Routing Controller #
#====================#
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php [L]


#=================#
# Error Reporting #
#=================#
php_flag  display_errors    on
php_value error_reporting   2039


#==================================#
# Protect Specific File extensions #
#==================================#
<FilesMatch "\.(htaccess|htpasswd|env|ini|php|sql)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>


#========================#
# Protect Specific Files #
#========================#
<FilesMatch "composer.json|composer.lock|README|LICENSE">
    Order Allow,Deny
    Deny from all
</FilesMatch>


#=============#
# Allow Files #
#=============#
<FilesMatch "index.php|robots.txt">
    Order Allow,Deny
    Allow from all
</FilesMatch>