RewriteEngine On
RewriteBase /


#==========================================================================#
# Force HTTPS Connection (activate when you have htaccess for you website) #
#==========================================================================#
# RewriteCond %{HTTPS} off [OR]
# RewriteCond %{SERVER_PORT} 80
# RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


#====================#
# Routing Controller #
#====================#
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php [L]


#=========================#
# Protect File extensions #
#=========================#
<FilesMatch "\.(htaccess|htpasswd|env|ini|php|sql|bak|bk|tmp|swp|yml|yaml|json|lock|log|xml|txt|md|gitignore)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>


#==============================================================#
# Allow Files some key files that would otherwise be protected #
#==============================================================#
<FilesMatch "index.php|robots.txt|sitemap.xml|translations.json">
    Order Allow,Deny
    Allow from all
</FilesMatch>


#===============================#
# Hide IDE Directories and GIT  #
#===============================#
RedirectMatch 404 /\.git
RedirectMatch 404 /\.vscode
RedirectMatch 404 /\.vs
RedirectMatch 404 /\.idea