.message-container {
    text-align: center;
    color: black;
    padding: 5% 0 5% 0;
    margin: 10%;
    background-color: #f1f1f1;
}

.error-message {
    border: solid 1px darkred;
}

.warning-message {
    border: solid 2px darkorange;
}

.notification-message {
    border: solid 1px darkgreen;
}