/* Framework mini helper */
#framework-mini-helper {
    position: fixed;
    bottom: 5px;
    left: 5px;
    cursor: pointer;
    text-align: center;
}
@media (max-width: 1200px) {
    #framework-mini-helper {
        display: none;
    }
}

#framework-mini-helper-title {
    color: white;
    font-size: 12px;
    line-height: 1.4;
}


/* Navbar */
#framework-helper {
    height: 40px;
    background-color: #222;
    border-top: 1px solid #867979;
    text-decoration: none !important;
    color: rgba(255, 255, 255, 0.5);
    z-index: 9999;
    
}
@media (max-width: 1200px) {
    #framework-helper {
        display: none;
    }
}

/* Close navbar button */
#close-framework-helper {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

#close-framework-helper:hover {
    color: red;
}

/* Navbar feedback button */
#framework-helper-feedback {
    position: absolute;
    bottom: 0px;
    right: 30px;
}



/* Navbar title */
#framework-helper .navbar-brand {
    padding: 0px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.0;
    margin-left: 10px;
    margin-right: 10px;
}

/* Documentation link */
.framework-helper-list-group-item {
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: rgba(255, 255, 255, 0.55);
}
.framework-helper-list-group-item:hover {
    color: rgba(255, 255, 255, 0.8);
}
.framework-helper-list-group-item.active {
    background-color: transparent;
    color: #4cd;
}

/* Documentation */
#documentation-navigation {
    display: inherit;
}

/* Navbar links */
#framework-helper a:hover {
    cursor: pointer;
}

/* Navbar hovered and focused links */
#framework-helper .nav-item:hover .nav-link {
    color: rgba(255, 255, 255, 0.8);
}

/* Forms */
.framework-form label {
    color: black;
    font-weight: normal;
}
.framework-form input, .framework-form select {
    font-size: 14px;
}

#actions-import-database .nav-item {
    max-width: 750px;
}

#create-entity-modal .table {
    color: black !important;
}

#create-entity-modal .modal-title {
    color: black !important;
}

#create-controller-modal .modal-title {
    color: black !important;
}

#media-library-modal .modal-title {
    color: black !important;
}

.media-library-title {
    color: black;
    border-top: 1px solid black;
}

.media-library-image {
    padding: 1%;
}
