/* Fonts */
$title_font_family: Helvetica, Arial, sans-serif;
$text_font_family: Helvetica, Arial, sans-serif;
$title_color: white;
$default_color: #f1f1f1;
$text_color: #f1f1f1;
$link_color: orange;
$link_hover_color: orangered;


/* Background */
$body_background_color: #1f1f1f;


/* Navbar */
$navbar_backgorund_color: #181818;
$navbar_border_color: black;
$navbar_height: 80px;
$nav_title_color: white;
$nav_active_color: white;
$nav_hover_color: #f1f1f1;
$nav_unactive_color: gray;
