.navbar-bg-custom {
	background-color: $navbar_bg_color;
	border-bottom: solid 2px $navbar_border_color;

	/* Navbar title */
	.navbar-brand, .navbar-text {
		cursor: default;
		font-weight: bold;
		margin-top: 0px;
		text-decoration: none !important;
		color: $navbar_title_color;
	}

	/* Navigation Links */
	.mr-auto .nav-item {
		padding-left: 20px;
	}

	/* Navbar unactive links */
	.navbar-nav .nav-link {
		text-decoration: none !important;
		cursor: pointer;
		color: $navbar_color;
	}

	/* Navbar hovered links */
	.nav-item:focus .nav-link,
	.nav-item:hover .nav-link {
		color: $navbar_color_hover;
	}

	/* Navbar active links */
	.nav-item.active .nav-link {
		color: $navbar_color_active;
		cursor: default;
	}
}

.navbar-brand {
	font-weight: bold;
}

.navbar-toggler-icon {
	width: 1.2em;
	height: 1.2em;
}

/* Navigation Links */
.mr-auto .nav-item {
	padding-left: 20px;
}

/* Modify navigation screen when viewed from mobile */
@media screen and (max-width: 991px)
{
	.navbar-collapse {
		margin-top: 10px;
		border-top: 1px solid $navbar_border_collapse_color;
		padding-top: 10px;
	}

	.mr-auto .nav-item {
		max-width: 200px;
		padding-left: 5px;
	}

	.ml-auto {
		text-align: right;
		float: right;
		margin-top: -130px;
	}

	.ml-auto li a {
		padding-bottom: 10px;
		text-align: center;
		padding-right: 18px !important;
	}
}

.select-language {
	cursor: pointer;
	font-size: 16px;
}